*{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #85d2f5;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.con{
    width: 300px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    border-radius: 10px;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 27px;
    margin-bottom: 18px;
}
input{
    padding: 10px;
    margin: 10px 20px;
}
button{
    padding: 10px;
    width: 250px;
    color: aliceblue;
    background-color:#494eea;
    cursor: pointer;
}
.qr{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
.qr.show{
    min-height: 120px;
}
.qr img{
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}